h1
{
  background-color: rgb(42, 179, 154);
  width: 400px; 
  line-height: 50px;
  border: radius 10px; ;
  box-shadow: 0px 5px 15px black;
  color:white ;
}
*
{
background-color: #877591;
}

td
{
  height: 55px;
  width: 55px ;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
  color: rgb(49, 45, 45);
  font-size: 22px;
}

.number
{
  line-height: 0%;
  font-size: 16px;
  font-weight: bold;
  
}

.name
{
  line-height: 0%;
  font-weight: bold;
}

.category1
{
  background-color:#3cc761;
}

.category2
{
  background-color: #c45e82;
}

.category3
{
  background-color: #bd8d66;
}

.category4
{
  background-color: #90e0e0;
}

.category5
{
  background-color: #cc7ecf;
}

.category6
{
  background-color: #dbd870;
}

.category7
{
  background-color: #ebc3c3;
}

.category8
{
  background-color: #bdbbbb;
}

.category9
{
  background-color: #4694e8;
}